:root.dark {
  --color-base-bg: #0a0a0a;
  --color-base-text: #fff;
  --color-h1-text: #22c55e;
  --intro-border: 2px solid #22c55e;
}

:root.light {
  --color-base-bg: #fff;
  --color-base-text: #0a0a0a;
  --color-h1-text: #06b6d4;
  --intro-border: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  background-color: var(--color-base-bg);
  position: relative;
}

@media (max-width: 390px) {
  body {
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
  }

  main {
    padding: 10px;
  }

  #email {
    display: none;
  }

  .card {
    max-width: 350px;
  }
}

@media (min-width: 391px) {
  main {
    padding: 20px;
  }
}

/*Toggle Switch*/

.switch-container {
  display: flex;
  padding: 20px;
  justify-content: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #404040;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
  left: 5px;
  z-index: 1;
}

input:checked + .slider {
  background-color: #d4d4d4;
}

input:checked + .slider:before {
  transform: translateX(32px);
}

#dark {
  position: relative;
  top: 5px;
  left: 5px;
}

#light {
  position: relative;
  top: 5px;
  left: 10px;
}

/*Header Styles*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-base-bg);
}

h1 {
  color: var(--color-base-text);
  font-size: 3rem;
  margin-right: 50px;
  max-width: 250px;
  animation: appear 1s ease-in;
}

#name {
  color: var(--color-h1-text);
}

@keyframes appear {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.img-wrapper {
  height: 350px;
  width: 300px;
  background: url(images/selfie.JPEG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction {
  max-width: 400px;
  padding: 20px;
  background-color: var(--color-base-bg);
  border: var(--intro-border);
  border-radius: 10px;
  color: var(--color-base-text);
  box-shadow: var(--intro-border);
}

.introduction > .icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

/*Main Styles*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-base-bg);
}

main > h2 {
  color: #fff;
  font-size: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  background-color: #171717;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 8px;
}

.info {
  padding: 10px;
  background-color: #171717;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

/*Footer Styles*/

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(#0a0a0a, #22c55e);
  color: #fff;
  font-size: 1.25rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
}

footer > .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

h4 {
  font-size: 2rem;
}

/*Work on mobile responsiveness*/
