body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  box-sizing: border-box;
  background-color: #0a0a0a;
}

/*Header Styles*/

@media (max-width: 390px) {
  body {
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
  }

  main {
    padding: 10px;
  }

  #email {
    display: none;
  }

  .card {
    max-width: 350px;
  }
}

@media (min-width: 391px) {
  main {
    padding: 20px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #0a0a0a;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-right: 50px;
  max-width: 250px;
  animation: appear 1s ease-in;
}

#name {
  -webkit-text-fill-color: #0a0a0a;
  -webkit-text-stroke-color: #22c55e;
  -webkit-text-stroke-width: 1px;
}

@keyframes appear {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.img-wrapper {
  height: 350px;
  width: 300px;
  background: url(images/selfie.JPEG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction {
  max-width: 400px;
  padding: 20px;
  background-color: #0a0a0a;
  border: 2px solid #22c55e;
  border-radius: 10px;
  color: #fff;
}

.introduction > .icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

/*Main Styles*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #0a0a0a;
}

main > h2 {
  color: #fff;
  font-size: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  background-color: #171717;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 8px;
}

.info {
  padding: 10px;
  background-color: #171717;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

/*Footer Styles*/

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: linear-gradient(#0a0a0a, #22c55e);
  color: #fff;
  font-size: 1.25rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
}

footer > .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

h4 {
  font-size: 2rem;
}

/*Work on mobile responsiveness*/
